* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(173, 216, 230, 0.233);
  text-align: center;
}

header {
  width: 100%;
}

.scone {
  text-align: start;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../../resources/images/muffins.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Sansita Swashed", cursive;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgba(128, 128, 128, 0.274);
  padding: 1rem 0rem;
  margin: 10rem 0rem;
}

h2 {
  margin: 4rem 0rem;
  text-align: center;
  height: auto;
  font-family: "Sansita Swashed", cursive;
  font-weight: 300;
  color: black;
  padding: 1rem 1rem;
  border-radius: 2rem;
  background-color: rgba(173, 216, 230, 0.459);
}

.img {
  display: grid;
  max-width: 100%;
  position: relative;
  margin: 4rem auto;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  grid-template-areas:
    "l1 c c c r1"
    "l2 c c c r2"
    "l3 c c c r3";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.img img {
  width: 100%;
  margin: 0 auto;
}

.flap {
  grid-area: l1;
}

.leaf {
  grid-area: c;
}

.basket {
  grid-area: r1;
}

.basket2 {
  grid-area: l2;
}

.bc1 {
  grid-area: l3;
}

.bc2 {
  grid-area: r2;
}

footer {
  width: 100%;
  padding-top: 2.5rem;
  background-color: transparent;
  border-top: 1px solid black;
}

footer p {
  margin: 0 auto;
  padding: 0.2rem 0rem;
  font-family: "Times New Roman", Times, serif;
}

footer a {
  text-decoration: none;
  color: black;
}

footer img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.2rem;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adress {
  width: 15%;
  text-align: center;
}

.email {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.phone {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.insta {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.facebook {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.bottom-footer {
  width: 100%;
  background-color: transparent;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.mobile-img {
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 1500px) and (orientation: portrait) {
  .img {
    display: none;
  }

  body {
    width: 100%;
  }

  h1 {
    margin: 18rem 0rem;
  }

  h2 {
    margin: 2rem 2rem;
  }

  .mobile-img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .img-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .img-mobile img {
    width: 30%;
    border-radius: 3rem;
    margin: 0rem 0.5rem;
  }

  .img-mobile-f {
    margin: 2rem auto;
    display: block;
    width: 100%;
  }

  .img-mobile-f img {
    width: 100%;
  }

  footer {
    border: none;
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .bottom-footer {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1500px) and (orientation: landscape) {
  .img {
    display: none;
  }

  body {
    width: 100%;
  }

  h1 {
    margin: 5rem 0rem;
  }

  h2 {
    margin: 2rem 2rem;
  }

  .mobile-img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .img-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .img-mobile img {
    width: 30%;
    border-radius: 3rem;
    margin: 0rem 0.5rem;
  }

  .img-mobile-f {
    margin: 2rem auto;
    display: block;
    width: 100%;
  }

  .img-mobile-f img {
    width: 100%;
  }

  footer {
    border: none;
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .bottom-footer {
    font-size: 0.7rem;
  }
}