* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 80%;
  background-color: #99c0d680;
}

main img {
  width: 100%;
  margin: 0 auto;
}

main h1 {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  padding: 1rem 1rem;
}

main p {
  margin: 0 auto;
  width: 80%;
}

main ul {
  width: 80%;
  margin: 0.5rem auto;
}

main h2 {
  width: 80%;
  margin: 1.5rem auto;
  text-align: center;
}

.p-border {
  width: 80%;
  border: 1px solid black;
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem 1rem;
}

.h2-l {
  text-align: left;
}

footer {
  width: 100%;
  padding-top: 2.5rem;
}

footer p {
  margin: 0 auto;
  padding: 0.2rem 0rem;
  font-family: "Times New Roman", Times, serif;
}

footer a {
  text-decoration: none;
  color: black;
}

footer img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.2rem;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adress {
  width: 15%;
  text-align: center;
}

.email {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.phone {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.insta {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.facebook {
  width: 15%;
  text-align: center;
  align-self: baseline;
}

.bottom-footer {
  width: 100%;
  padding: 1rem 0rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  footer {
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
  }

  footer {
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
  }

  footer {
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body {
    width: 100%;
  }

  footer {
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }
}

@media only screen and (min-width: 0px) and (max-width: 319px) {
  body {
    width: 100%;
  }

  footer {
    margin-top: 2rem;
    padding: 0rem 0rem;
  }

  .footer-content {
    display: block;
    text-align: center;
  }

  .adress {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .email {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .phone {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .insta {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }

  .facebook {
    width: 100%;
    padding: 1rem 0rem;
    border-bottom: 1px solid #99c0d680;
  }
}
