* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* ---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
---------------------------- CTA BUTTON --------------------------
------------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------*/

#book-ebikes {
  width: 7%;
  position: fixed;
  bottom: 55%;
  left: 1%;
  background-color: rgba(44, 44, 44, 0.9);
  border: 2px solid white;
  z-index: 10;
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
}

#book-ebikes-mail {
  width: 7%;
  position: fixed;
  bottom: 45%;
  left: 1%;
  background-color: rgba(44, 44, 44, 0.9);
  border: 2px solid white;
  z-index: 10;
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
}

#book-ebikes a,
#book-ebikes-mail a {
  font-size: 1rem;
  z-index: 10;
  letter-spacing: 0.2rem;
  color: white;
  font-family: "Julius Sans One", Sans-Serif;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}

#book-ebikes:hover,
#book-ebikes-mail:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
---------------------------- HEADER ------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------*/

#main-header {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 44, 44, 0.9);
}

#main-logo {
  margin: 0rem 0rem 0rem 2rem;
  padding: 1rem 4rem 1rem 0rem;
  width: 20%;
}

#main-nav {
  display: flex;
  align-content: center;
}

#main-nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

#main-nav ul li {
  padding: 0.5rem 1rem;
}

#main-nav ul li a {
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Julius Sans One", Sans-Serif;
  letter-spacing: 0.1rem;
}

#main-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #decda6;
}

@media only screen and (max-width: 600px) {
  #main-logo {
    display: none;
  }

  #book-ebikes {
    display: none;
  }

  #main-nav ul li {
    padding: 0rem;
  }

  #main-nav ul li a {
    font-size: 1rem;
    padding: 0;
  }

  #ot-mobile {
    display: none;
  }
}

/* ---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
---------------------------- WELCOME -----------------------------
------------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------*/

#main-main {
  margin: 0;
  padding: 2rem 0rem 0rem 0rem;
  width: 100%;
  background-color: #decda6;
}

#sec-welcome {
  width: 100%;
  margin: 0;
  padding: 0;
}

#welcome {
  width: 100%;
  display: flex;
  margin: 0rem;
  padding: 2rem 0rem;
  justify-content: center;
  align-items: center;
}

#welcome img {
  width: 25%;
  height: 20%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#sec-welcome h1 {
  margin: 0 auto;
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgba(44, 44, 44, 0.9);
  text-align: center;
  font-size: 3rem;
  line-height: 70%;
  letter-spacing: -0.2rem;
  font-family: "Berkshire Swash", cursive;
  background-color: rgba(67, 67, 68, 0.089);
  border-radius: 5rem;
}

/* ---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
---------------------------- ABOUT -------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------*/

#sec-about {
  width: 100%;
  padding: 0;
  margin: 0;
}

.divider {
  margin: 0 auto;
  padding: 2rem 0rem;
  text-align: center;
  background-color: rgba(44, 44, 44, 0.9);
  color: white;
  font-size: 1.2rem;
  font-family: "Julius Sans One", Sans-Serif;
  letter-spacing: 0.2rem;
}

#background-ebike {
  background-image: url(../images/ebikes1-edit.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.about {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.about figcaption {
  margin: 0;
  padding: 0;
  width: 40%;
}

.about p {
  text-align: left;
  margin: 0rem 2rem 0rem 2rem;
  padding: 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
  font-family: "Lato", sans-serif;
  color: rgb(44, 44, 44);
  font-weight: 100;
  opacity: 0.9;
  border-bottom: 0.01rem solid rgba(44, 44, 44, 0.9);
  border-top: 0.01rem solid rgba(44, 44, 44, 0.9);
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-color: rgba(67, 67, 68, 0.089);
}

.about img,
.about video {
  width: 40%;
  height: 50%;
  border: 0.01rem solid rgba(44, 44, 44, 0.9);
  padding: 1rem;
  border-radius: 2rem;
}

#icons {
  width: 100%;
  margin: 0;
  padding: 0;
}

#guinness {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(67, 67, 68, 0.089);
}

#guinness a {
  width: 10%;
  margin: 1rem 2rem;
}

#guinness a img {
  width: 100%;
}

/* ---------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
---------------------------- FOOTER ------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------*/

#main-footer {
  width: 100%;
  background-color: rgba(219, 205, 170);
  padding: 2rem 0rem;
}

#links {
  display: flex;
  width: 100%;
  margin: 1rem 2rem;
  justify-content: center;
}

#main-adress-box,
#main-phone-box,
#main-social-facebook-box,
#main-social-instagram-box {
  text-align: center;
  width: 20%;
}

#main-footer a {
  text-decoration: none;
}

#main-footer h2 {
  font-family: "Julius Sans One", Sans-Serif;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0;
  color: black;
}

#main-socials-box ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-socials-box ul li {
  padding: 1rem 0rem;
  margin: 0;
}

#main-socials-box ul li a {
  width: 100%;
  padding: 0rem 1rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Monda", Sans-Serif;
  opacity: 0.4;
}

#main-adress-box p {
  padding: 1rem 0rem;
  margin: 0;
  font-family: "Monda", Sans-Serif;
  opacity: 0.4;
}

#copyright p {
  text-align: center;
    font-family: "Julius Sans One", Sans-Serif;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    padding: 0;
    margin: 0;
    color: black;
}